body {
  width: 900px;
  margin: 0 auto;
  background-color: #8eba8e;
}

p {
  position: absolute;
  top: 4px;
  right: 50px;
  background: green;
  margin: 3em;
  padding: 1em;
  border: 1px solid gray;
  background-color: #baf0ba;
}

#game {
  background-color: black;
  border: 1px solid gray;
}